@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
*{
    font-family: "Outfit", sans-serif;
}

@theme{
    --color-primary: #4CAF50;
    --color-primary-dull: #28edae;
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}


@keyframes bounce-slow {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(-5px); }
}
.animate-bounce-slow {
  animation: bounce-slow 3s infinite ease-in-out;
}